Repository FoyerD/Gamazon, pull requests merged in 2025-04, with the labels that each got.

#25 Implement of openMarket and closeStore functions
  src/main/java/Application/MarketService.java
  src/main/java/Domain/ExternalServices/INotificationService.java
  src/main/java/Domain/ExternalServices/IPaymentService.java
  src/main/java/Domain/ExternalServices/ISupplyService.java
  src/main/java/Domain/IMarketFacade.java
  src/main/java/Domain/MarketFacade.java
  src/main/java/Domain/Store/IStoreRepository.java
  src/main/java/Domain/Store/Store.java
  src/main/java/Domain/User/IUserRepository.java
  src/main/java/Domain/User/User.java
  src/main/java/Infrastructure/NotificationService.java
  src/main/java/Infrastructure/PaymentService.java
  src/main/java/Infrastructure/SupplyService.java
  target/classes/Application/MarketService.class
  target/classes/Domain/ExternalServices/INotificationService.class
  target/classes/Domain/ExternalServices/IPaymentService.class
  target/classes/Domain/ExternalServices/ISupplyService.class
  target/classes/Domain/IMarketFacade.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/Store/IStoreRepository.class
  target/classes/Domain/Store/Store.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/User.class
  target/classes/Infrastructure/NotificationService.class
  target/classes/Infrastructure/PaymentService.class
  target/classes/Infrastructure/SupplyService.class
Labels: market management

#35 Permissions were created with Roles and integration with the Market
  src/main/java/Application/MarketService.java
  src/main/java/Domain/IMarketFacade.java
  src/main/java/Domain/MarketFacade.java
  src/main/java/Domain/Permission.java
  src/main/java/Domain/PermissionType.java
  src/main/java/Domain/Permmissions.java
  src/main/java/Domain/RoleType.java
  src/main/java/Domain/User/User.java
  target/classes/Application/MarketService.class
  target/classes/Domain/IMarketFacade.class
  target/classes/Domain/MarketFacade$SingletoneHolder.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/Permission.class
  target/classes/Domain/PermissionType.class
  target/classes/Domain/Permmissions.class
  target/classes/Domain/RoleType.class
  target/classes/Domain/User/User.class
Labels: market management

#53 Guest entrance exit
  .vscode/settings.json
  pom.xml
  src/main/java/Application/CustomerServiceService.java
  src/main/java/Application/Response.java
  src/main/java/Application/UserDTO.java
  src/main/java/Application/UserService.java
  src/main/java/Domain/TokenService.java
  src/main/java/Domain/User/Guest.java
  src/main/java/Domain/User/IUserRepository.java
  src/main/java/Domain/User/LoginManager.java
  src/main/java/Domain/User/User.java
  target/classes/Application/CustomerServiceService.class
  target/classes/Application/Response.class
  target/classes/Application/UserDTO.class
  target/classes/Application/UserService.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/TokenService.class
  target/classes/Domain/User/Guest.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
  target/classes/Domain/User/Member.class
  target/classes/Domain/User/User.class
Labels: enhancement, users

#62 User tests
  .vscode/settings.json
  pom.xml
  src/main/java/Application/UserDTO.java
  src/main/java/Application/UserService.java
  src/main/java/Domain/User/IUserRepository.java
  src/main/java/Domain/User/LoginManager.java
  src/main/java/Infrastructure/MemoryUserRepository.java
  src/test/java/UserServiceTests.java
  target/classes/Application/UserDTO.class
  target/classes/Application/UserService.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
Labels: enhancement, users

#69 userId was refactored for permission checking
  src/main/java/Application/MarketService.java
  src/main/java/Domain/IMarketFacade.java
  src/main/java/Domain/MarketFacade.java
  src/main/java/Domain/Permission.java
  target/classes/Application/MarketService.class
  target/classes/Domain/IMarketFacade.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/Permission.class
Labels: market management

#71 66 add amount management methods to item
  src/main/java/Application/ItemService.java
  src/main/java/Domain/Store/Item.java
  src/main/java/Domain/Store/ItemFacade.java
  src/test/java/StoreTests/ItemServiceTests.java
  target/classes/Application/ItemService.class
  target/classes/Domain/Store/Item.class
  target/classes/Domain/Store/ItemFacade.class
  target/test-classes/StoreTests/ItemServiceTests.class
Labels: store

#75 58 implement store closure
  src/main/java/Application/StoreService.java
  src/main/java/Domain/Store/Store.java
  src/main/java/Domain/Store/StoreFacade.java
  src/test/java/StoreTests/StoreServiceTests.java
  target/classes/Application/StoreService.class
  target/classes/Domain/Store/Store.class
  target/classes/Domain/Store/StoreFacade.class
  target/test-classes/StoreTests/StoreServiceTests.class
Labels: store

#78 Refactor MarketService and IMarketFacade to use StoreFacade; update r…
  src/main/java/Application/MarketService.java
  src/main/java/Domain/IMarketFacade.java
  src/main/java/Domain/MarketFacade.java
  target/classes/Application/MarketService.class
  target/classes/Domain/IMarketFacade.class
  target/classes/Domain/MarketFacade.class
Labels: market management

#79 Unit tests for User agreggate
  src/main/java/Application/UserDTO.java
  src/main/java/Application/UserService.java
  src/main/java/Domain/MarketFacade.java
  src/main/java/Domain/User/Guest.java
  src/main/java/Domain/User/IUserRepository.java
  src/main/java/Domain/User/LoginManager.java
  src/main/java/Domain/User/Member.java
  src/main/java/Domain/User/PasswordChecker.java
  src/main/java/Domain/User/User.java
  src/main/java/Infrastructure/MemoryUserRepository.java
  src/test/java/Domain/User/GuestTest.java
  src/test/java/Domain/User/LoginManagerTest.java
  src/test/java/Domain/User/MemberTest.java
  src/test/java/Domain/User/PasswordCheckerTest.java
  src/test/java/Domain/User/UserTest.java
  src/test/java/Infrastructure/MemoryUserRepositoryTest.java
  target/classes/Application/UserDTO.class
  target/classes/Application/UserService.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/User/Guest.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
  target/classes/Domain/User/Member.class
  target/classes/Domain/User/User.class
Labels: enhancement, users

#95 94 adding locks to repository base design
  src/main/java/Domain/ILockbasedRepository.java
  src/main/java/Domain/Shopping/IShoppingBasketRepository.java
  src/main/java/Domain/Shopping/IShoppingCartRepository.java
  src/main/java/Domain/Shopping/ShoppingBasketRepository.java
  src/main/java/Domain/Shopping/ShoppingCartRepository.java
  src/main/java/Domain/Store/IItemRepository.java
  src/main/java/Domain/Store/IProductRepository.java
  src/main/java/Domain/Store/IStoreRepository.java
  src/main/java/Domain/Store/MemoryItemRepository.java
  src/main/java/Domain/User/IUserRepository.java
  src/main/java/Infrastructure/MemoryUserRepository.java
  src/main/java/Infrastructure/StoreRepositoryMemory.java
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/Shopping/IShoppingBasketRepository.class
  target/classes/Domain/Shopping/IShoppingCartRepository.class
  target/classes/Domain/Store/IItemRepository.class
  target/classes/Domain/Store/IProductRepository.class
  target/classes/Domain/Store/IStoreRepository.class
  target/classes/Domain/Store/ItemFacade.class
  target/classes/Domain/Store/MemoryItemRepository.class
  target/classes/Domain/Store/StoreFacade.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
Labels: enhancement

#97 84 validate acceptance tests and add unit tests for itemservice facade and item
  src/main/java/Application/ItemService.java
  src/main/java/Domain/Pair.java
  src/main/java/Domain/Store/Category.java
  src/main/java/Domain/Store/IItemRepository.java
  src/main/java/Domain/Store/Item.java
  src/main/java/Domain/Store/ItemFacade.java
  src/main/java/Domain/Store/ItemFilter.java
  src/main/java/Domain/Store/MemoryItemRepository.java
  src/test/java/Domain/Store/CategoryTest.java
  src/test/java/Domain/Store/ItemFacadeTest.java
  src/test/java/Domain/Store/ItemFilterTest.java
  src/test/java/Domain/Store/ItemTest.java
  src/test/java/Domain/Store/ProductTest.java
  src/test/java/StoreTests/ItemServiceTests.java
  target/classes/Application/ItemService.class
  target/classes/Domain/Pair.class
  target/classes/Domain/Store/Category.class
  target/classes/Domain/Store/IItemRepository.class
  target/classes/Domain/Store/Item.class
  target/classes/Domain/Store/ItemFacade.class
  target/classes/Domain/Store/ItemFilter.class
  target/classes/Domain/Store/MemoryItemRepository.class
  target/maven-archiver/pom.properties
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/Domain.Store.CategoryTest.txt
  target/surefire-reports/Domain.Store.ItemFacadeTest.txt
  target/surefire-reports/Domain.Store.ItemFilterTest.txt
  target/surefire-reports/Domain.Store.ItemTest.txt
  target/surefire-reports/Domain.Store.ProductTest.txt
  target/surefire-reports/StoreTests.ItemServiceTests.txt
  target/surefire-reports/TEST-Domain.Store.CategoryTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemFacadeTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemFilterTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemTest.xml
  target/surefire-reports/TEST-Domain.Store.ProductTest.xml
  target/surefire-reports/TEST-StoreTests.ItemServiceTests.xml
  target/test-classes/StoreTests/ItemServiceTests.class
Labels: store

#83 use case 2.5 is done!
  src/main/java/Application/ShoppingService.java
  src/main/java/Domain/Shopping/IShoppingCartFacade.java
  src/main/java/Domain/Shopping/ShoppingCartFacade.java
  target/classes/Application/CustomerServiceService.class
  target/classes/Application/Error.class
  target/classes/Application/Response.class
  target/classes/Application/StoreService.class
  target/classes/Application/UserDTO.class
  target/classes/Application/UserService.class
  target/classes/Application/app.class
  target/classes/Domain/IRepository.class
  target/classes/Domain/Permission.class
  target/classes/Domain/PermissionType.class
  target/classes/Domain/RoleType.class
  target/classes/Domain/Shopping/ShoppingBasket.class
  target/classes/Domain/Shopping/ShoppingCart.class
  target/classes/Domain/Store/Feedback.class
  target/classes/Domain/Store/Store.class
  target/classes/Domain/TokenService.class
  target/classes/Domain/User/Guest.class
  target/classes/Domain/User/Member.class
  target/classes/Domain/User/User.class
  target/classes/Infrastructure/NotificationService.class
  target/classes/Infrastructure/PaymentService.class
  target/classes/Infrastructure/SupplyService.class
  target/maven-archiver/pom.properties
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/Domain.Store.CategoryTest.txt
  target/surefire-reports/Domain.Store.ItemFacadeTest.txt
  target/surefire-reports/Domain.Store.ItemFilterTest.txt
  target/surefire-reports/Domain.Store.ItemTest.txt
  target/surefire-reports/Domain.Store.ProductTest.txt
  target/surefire-reports/StoreTests.ItemServiceTests.txt
  target/surefire-reports/TEST-Domain.Store.CategoryTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemFacadeTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemFilterTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemTest.xml
  target/surefire-reports/TEST-Domain.Store.ProductTest.xml
  target/surefire-reports/TEST-StoreTests.ItemServiceTests.xml
Labels: enhancement, shopping

#93 87 implementing auction logic
  src/main/java/Domain/Store/Auction.java
  src/main/java/Domain/Store/IAuctionRepository.java
  src/main/java/Domain/Store/StoreFacade.java
  src/main/java/Infrastructure/MemoryAuctionRepository.java
  target/classes/Domain/Store/StoreFacade.class
Labels: store

#103 102 add lock managing to store facade
  src/main/java/Domain/ILockbasedRepository.java
  src/main/java/Domain/Store/Feedback.java
  src/main/java/Domain/Store/IFeedbackRepository.java
  src/main/java/Domain/Store/IStoreRepository.java
  src/main/java/Domain/Store/StoreFacade.java
  src/main/java/Infrastructure/MemoryFeedbackRepository.java
  src/main/java/Infrastructure/StoreRepositoryMemory.java
  target/classes/Domain/Store/Feedback.class
  target/classes/Domain/Store/IStoreRepository.class
  target/classes/Domain/Store/StoreFacade.class
Labels: store

#108 implemented logger in user service
  src/main/java/Application/UserService.java
  src/main/java/Domain/Shopping/IShoppingBasketRepository.java
  src/main/java/Domain/User/LoginManager.java
  src/test/java/UserServiceTests.java
  target/classes/Application/UserService.class
  target/classes/Domain/Shopping/IShoppingBasketRepository.class
  target/classes/Domain/Store/StoreFacade.class
  target/classes/Domain/User/LoginManager.class
Labels: enhancement, users

#109 92 finish store service
  src/main/java/Application/AuctionDTO.java
  src/main/java/Application/CustomerServiceService.java
  src/main/java/Application/StoreDTO.java
  src/main/java/Application/StoreService.java
  src/main/java/Domain/Store/FeedbackDTO.java
  src/main/java/Domain/Store/Store.java
  src/main/java/Domain/Store/StoreFacade.java
  src/test/java/StoreTests/StoreServiceTests.java
  target/classes/Application/CustomerServiceService.class
  target/classes/Application/StoreService.class
  target/classes/Domain/Store/Store.class
  target/classes/Domain/Store/StoreFacade.class
  target/test-classes/StoreTests/StoreServiceTests.class
Labels: store

#107 think its done
  src/main/java/Application/ShoppingService.java
  src/main/java/Domain/Shopping/IShoppingCartFacade.java
  src/main/java/Domain/Shopping/ShoppingCartFacade.java
  target/classes/Application/Error.class
  target/classes/Application/Response.class
  target/classes/Application/UserDTO.class
  target/classes/Application/app.class
  target/classes/Domain/IRepository.class
  target/classes/Domain/Pair.class
  target/classes/Domain/Permission.class
  target/classes/Domain/PermissionType.class
  target/classes/Domain/RoleType.class
  target/classes/Domain/Shopping/IShoppingCartRepository.class
  target/classes/Domain/Shopping/ShoppingBasket.class
  target/classes/Domain/Shopping/ShoppingCart.class
  target/classes/Domain/TokenService.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/Member.class
  target/classes/Infrastructure/NotificationService.class
  target/classes/Infrastructure/PaymentService.class
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Labels: enhancement, shopping

#111 implemented thread safe login manager
  src/main/java/Domain/User/Guest.java
  src/main/java/Domain/User/LoginManager.java
  target/classes/Domain/User/Guest.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
Labels: enhancement, users

#114 fixed UserServiceTest
  src/main/java/Application/UserService.java
  src/test/java/UserServiceTests.java
  target/classes/Application/UserService.class
Labels: bug, users

#104 91 save purchase history
  src/main/java/Application/CustomerServiceService.java
  src/main/java/Application/ShoppingService.java
  src/main/java/Application/StoreService.java
  src/main/java/Domain/MarketFacade.java
  src/main/java/Domain/Shopping/IReceiptRepository.java
  src/main/java/Domain/Shopping/IShoppingCartFacade.java
  src/main/java/Domain/Shopping/Receipt.java
  src/main/java/Domain/Shopping/ReceiptRepository.java
  src/main/java/Domain/Shopping/ShoppingBasketRepository.java
  src/main/java/Domain/Shopping/ShoppingCartFacade.java
  src/main/java/Domain/Shopping/ShoppingCartRepository.java
  src/main/java/Domain/Store/Product.java
  src/test/java/StoreTests/StoreServiceTests.java
  target/classes/Application/CustomerServiceService.class
  target/classes/Application/Error.class
  target/classes/Application/ItemService.class
  target/classes/Application/MarketService.class
  target/classes/Application/Response.class
  target/classes/Application/StoreService.class
  target/classes/Application/UserDTO.class
  target/classes/Application/UserService.class
  target/classes/Application/app.class
  target/classes/Domain/ExternalServices/INotificationService.class
  target/classes/Domain/ExternalServices/IPaymentService.class
  target/classes/Domain/ExternalServices/ISupplyService.class
  target/classes/Domain/IMarketFacade.class
  target/classes/Domain/IRepository.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/Permission.class
  target/classes/Domain/PermissionType.class
  target/classes/Domain/RoleType.class
  target/classes/Domain/Shopping/IShoppingBasketRepository.class
  target/classes/Domain/Shopping/IShoppingCart.class
  target/classes/Domain/Shopping/ShoppingBasket.class
  target/classes/Domain/Shopping/ShoppingCart.class
  target/classes/Domain/Store/Category.class
  target/classes/Domain/Store/IItemRepository.class
  target/classes/Domain/Store/IProductRepository.class
  target/classes/Domain/Store/Item.class
  target/classes/Domain/Store/ItemFacade.class
  target/classes/Domain/Store/ItemFilter$Builder.class
  target/classes/Domain/Store/ItemFilter.class
  target/classes/Domain/Store/MemoryItemRepository.class
  target/classes/Domain/Store/Product.class
  target/classes/Domain/Store/Store.class
  target/classes/Domain/Store/StoreFacade.class
  target/classes/Domain/TokenService.class
  target/classes/Domain/User/Guest.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
  target/classes/Domain/User/Member.class
  target/classes/Infrastructure/NotificationService.class
  target/classes/Infrastructure/PaymentService.class
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/test-classes/AppTest.class
  target/test-classes/StoreTests/CustomerServiceServiceTests.class
  target/test-classes/StoreTests/ItemServiceTests.class
  target/test-classes/StoreTests/StoreServiceTests.class
  target/test-classes/TestSetsups.class
Labels: enhancement, shopping

#117 Refactor MarketService and IMarketFacade to integrate ShoppingCartFacade
  src/main/java/Application/MarketService.java
  src/main/java/Domain/IMarketFacade.java
  src/main/java/Domain/MarketFacade.java
  src/test/java/MarketFacadeTest.java
  target/classes/Domain/MarketFacade.class
Labels: enhancement, market management

#119 Finished fixing ItemFacade and ItemRepo, created MemoryProductRepo.
  src/main/java/Application/CategoryDTO.java
  src/main/java/Application/ItemDTO.java
  src/main/java/Application/ItemService.java
  src/main/java/Domain/Store/ItemFacade.java
  src/main/java/Domain/Store/MemoryItemRepository.java
  src/main/java/Domain/Store/MemoryProductRepository.java
  src/test/java/Domain/Store/ItemFacadeTest.java
  src/test/java/Domain/Store/ItemTest.java
  src/test/java/StoreTests/ItemServiceTests.java
  target/classes/Application/CustomerServiceService.class
  target/classes/Application/Error.class
  target/classes/Application/Response.class
  target/classes/Application/StoreService.class
  target/classes/Application/UserDTO.class
  target/classes/Application/UserService.class
  target/classes/Application/app.class
  target/classes/Domain/IRepository.class
  target/classes/Domain/MarketFacade.class
  target/classes/Domain/Pair.class
  target/classes/Domain/Permission.class
  target/classes/Domain/PermissionType.class
  target/classes/Domain/RoleType.class
  target/classes/Domain/Shopping/IShoppingBasketRepository.class
  target/classes/Domain/Shopping/IShoppingCartRepository.class
  target/classes/Domain/Shopping/ShoppingBasket.class
  target/classes/Domain/Shopping/ShoppingCart.class
  target/classes/Domain/Store/Feedback.class
  target/classes/Domain/Store/IStoreRepository.class
  target/classes/Domain/Store/Store.class
  target/classes/Domain/Store/StoreFacade.class
  target/classes/Domain/TokenService.class
  target/classes/Domain/User/Guest.class
  target/classes/Domain/User/IUserRepository.class
  target/classes/Domain/User/LoginManager.class
  target/classes/Domain/User/Member.class
  target/classes/Domain/User/User.class
  target/classes/Infrastructure/NotificationService.class
  target/classes/Infrastructure/PaymentService.class
  target/classes/Infrastructure/SupplyService.class
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/Domain.Store.CategoryTest.txt
  target/surefire-reports/Domain.Store.ItemFacadeTest.txt
  target/surefire-reports/Domain.Store.ItemFilterTest.txt
  target/surefire-reports/Domain.Store.ItemTest.txt
  target/surefire-reports/Domain.Store.ProductTest.txt
  target/surefire-reports/StoreTests.ItemServiceTests.txt
  target/surefire-reports/TEST-Domain.Store.CategoryTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemFacadeTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemFilterTest.xml
  target/surefire-reports/TEST-Domain.Store.ItemTest.xml
  target/surefire-reports/TEST-Domain.Store.ProductTest.xml
  target/surefire-reports/TEST-StoreTests.ItemServiceTests.xml
  target/test-classes/PermissionTest.class
Labels: store

#128 fixed issue
  src/test/java/StoreTests/ItemServiceTests.java
Labels: bug, common
